<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contacts</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/style.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/grid_12.css">
  <script src="js/jquery-1.7.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/cufon-yui.js"></script>
  <script src="js/Asap_400.font.js"></script>
  <script src="js/Coolvetica_400.font.js"></script>
  <script src="js/Kozuka_M_500.font.js"></script>
  <script src="js/cufon-replace.js"></script>
  <script src="js/FF-cash.js"></script>
  <script src="../googleAnalytics.js"></script>
</head>
<body>
  <div class="main">
    <div class="bg-img"></div>
    <!--==============================header=================================-->
    <header>
      <h1><a href="/">Lorena <strong>Personal Trainer</strong></a></h1>
      <nav>
        <div class="social-icons">
          <a href="https://www.facebook.com/lorena.tacal" target="_blank" class="icon-2"></a>
          <a href="https://twitter.com/lorena_tacal"  target="_blank" class="icon-1"></a>
          <a href="https://www.instagram.com/lorena.tacal/"  target="_blank" class="icon-3"></a>

        </div>
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <!-- <li><a href="timetable.html">Timetable</a></li> -->
          <li><a href="/nutrition">Nutrition</a></li>
          <!-- <li><a href="gallery.html">Gallery</a></li> -->
          <li class="current"><a href="/contacts">Contacts</a></li>
        </ul>
      </nav>
    </header>
    <!--==============================content================================-->
    <section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. April 02, 2012!</div>
      <div class="container_12">
        <div class="grid_12">
          <div class="box-shadow">
            <div class="wrap block-2">
              <div class="col-3">
                <h2><span class="color-1">Get in</span> touch</h2>
                <div class="map img-border">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d19863.203638101513!2d-0.11079469065182883!3d51.515042246711424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1492880903801" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                  <dl>
                    <dt class="color-1"><strong>London<br>Online</strong></dt>
                    <dd><span>Telephone:</span>07577055057</dd>
                    <dd><span>E-mail:</span><a href="mailto:lorenatacal@gmail.com" class="link">lorenatacal@gmail.com</a></dd>
                  </dl>
                </div>
                <div class="col-4">
                  <h2><span class="color-1">Contact</span> form</h2>
                  <form id="form" method="post" action='/contacts' >

                    <label for='name'><input type="text" name='name' value="Name" onBlur="if(this.value=='') this.value='Name'" onFocus="if(this.value =='Name' ) this.value=''"></label>
                    <label for='email'><input type="text" name='email' value="Email" onBlur="if(this.value=='') this.value='Email'" onFocus="if(this.value =='Email' ) this.value=''"></label>
                    <label for='message'><textarea id='textarea' name='message' onBlur="if(this.value==''){this.value='Message'}" onFocus="if(this.value=='Message'){this.value=''}">Message</textarea></label>
                    <div class="btns"><a onClick="clearContents(textarea)" class="button">Clear</a><a id='send' href="#" class="button" onClick="document.getElementById('form').submit()">Send</a></div>
                    <script>
                    function clearContents(element) {
                      element.value = '';
                    };
                    $("#send").click(function (event) {
                      if ($(this).hasClass("disabled")) {
                        $(this).attr("onclick","emailSent()");
                      }
                      $(this).addClass("disabled");
                    });
                    function emailSent() {
                      alert('Email Sent');
                    };
                    </script>

                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </section>
      <!--==============================footer=================================-->
      <footer>
        <p>© Lorena Personal Trainer  | Website By <a href="http://www.tudortacal.com" target="_blank">Tudor Tacal</a></p>
      </footer>
    </div>
    <script>
    Cufon.now();
    </script>
  </body>
  </html>
