<!DOCTYPE html>
<head>
  <title>Lorena Tacal</title>
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" type="text/css" href="../stylesheets/styleOldTemplate.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <meta name="trustpilot-one-time-domain-verification-id" content="a4l4IZPjVzqKPxOSFT665UlXE3sZmUjqHLmZcVlO"/>
</head>
<body>
  <div id="wrapper">
    <div id='logo'>
      <!-- <img src="./assets/Logo.png"> -->
    </div>
    <h2 id='name'>Hi, I'm Lorena Tacal.</h2>
    <p class="description" >
      I am a personal trainer who specializes in weight loss and body tonning.<br>
      <br>
      I've just started as a Personal Trainer at Ballymore in London City Island.</br>
      <br>
      I offer 1-2-1 consultancy and create personalized training and nutritional plans focused on achieving your goals.
    </p>
    <p class='mobile-description'>
        I am a personal trainer who specializes in weight loss and body tonning.<br><br>
        I offer 1-2-1 consultancy and create personalized training and nutritional plans focused on achieving your goals.
    </p>
  </div>

  <div id='portfolio'>
    <h3>What you'll receive</h3>
    <ul>
      <li><p>12 week training plans tailored on your goals.</p></li>
      <li><p>Fornightly Skype conversations where we discuss your progress and you receive motivation and explanation for the next week training.</p></li>
      <li><p>Nutrition advices calcuting your daily calories intake and the nutrients needed in order to achieve your goals.</p></li>
    </ul>
    <p>Make a decision today and become the best version of yourself starting right now!</p>
    <form method="post" action="mailto:lorena.tacal@yahoo.com" >
      <input class='btn' type="submit" value="Just Do It!" />
    </form>
  </div>
  <div id='mobile-portfolio'>
    <h3 id='offer-title'>What you can get</h3>

      <p>12 week training plans tailored on your goals.</p>
      <p>Fornightly Skype conversations where we discuss your progress and you receive motivation and explanation for the next week training.</p>
      <p>Nutrition advices calcuting your daily calories intake and the nutrients needed in order to achieve your goals.</p>

    <h4>Make a decision today and become the best version of yourself starting right now!</h4>
    <form method="post" action="mailto:lorena.tacal@yahoo.com" >
      <input class='btn' type="submit" value="Just Do It!" />
    </form>
  </div>
  <div id='links'>
    <a href="https://www.linkedin.com/in/lorena-tacal-706a06114/" class="linkedin" target="_blank"></a>
    <a href="https://www.instagram.com/lorena.tacal/" class="instagram" target="_blank"></a>
    <a href="https://www.facebook.com/lorena.tacal" class="facebook" target="_blank"></a>
    <a href="https://twitter.com/lorena_tacal" class="twitter" target="_blank"></a>
  </div>

</body>
