<!DOCTYPE html>
<head>
  <title>Lorena Tacal</title>
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <meta name="trustpilot-one-time-domain-verification-id" content="a4l4IZPjVzqKPxOSFT665UlXE3sZmUjqHLmZcVlO"/>
</head>
<body>
  <div id="wrapper">
    <div id='logo'>
      <!-- <img src="./assets/Logo.png"> -->
    </div>
    <h2 id='name'>Hi, I'm Lorena Tacal.</h2>
    <p class="description" >
      I am a personal trainer who specializes in weight loss and body tonning.<br>
      <br>
      I've just started as a Personal Trainer at Ballymore in London City Island.</br>
      <br>
      I offer 1-2-1 consultancy and create personalized training and nutritional plans focused on achieving your goals.
    </p>
    <p class='mobile-description'>
        I am a personal trainer who specializes in weight loss and body tonning.
        I offer 1-2-1 consultancy and create personalized training and nutritional plans focused on achieving your goals.
    </p>
    <div id='links'>
      <a href="#" class="linkedin"></a>
      <a href="#" class="twitter"></a>
    </div>
  </div>
  <div id='portfolio'>
    <h3>Portfolio</h3>
    <a href="https://standupsandretros.herokuapp.com/">
      <p>Standups and Retros</p>
    </a>
    <a href="https://thermostat-tt.herokuapp.com/">
      <p>Thermostat</p>
    </a>
    <a href="https://www.youtube.com/watch?v=1plKdfnUvbA&list=PLc4BYny7PXeQ-DVKwBOrsC3MfCJfJG87O&index=3">
      <p>Makers Graduation Video<p>
    </a>
  </div>
  <script src="cool.js"></script>
</body>
