<!DOCTYPE html>
<head>
  <title>Tudor Tacal</title>
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <script src="../googleAnalytics.js"></script>
  <script src="../events.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id='logo'>
    </div>
    <h2 id='name'>Hi, I'm Tudor Tacal.</h2>
    <p class="description" >
      I am a full stack web developer who specializes in high performance web applications.<br>
      <br>
      I've just finished Makers Academy, Europe's leading web development boot camp.</br>
      <br>
      Now I'm looking to become a well rounded technical expert. Follow me on Twitter!
    </p>
    <p class='mobile-description'>
        I am a full stack web developer who specializes in high performance web applications. Follow me on Twitter!
    </p>
    <div id='links'>
      <a href="https://github.com/TudorTacal/CV"  class="github" target="_blank"></a>
      <a href="https://www.linkedin.com/in/tudor-tacal-8b1400a4/"  class="linkedin" target="_blank"></a>
      <a href="https://twitter.com/Tudor_Tacal" class="twitter" target="_blank"></a>
    </div>
  </div>
  <div id='portfolio'>
    <h3>Portfolio</h3>
    <a href="https://standupsandretros.herokuapp.com/" target="_blank">
      Standups and Retros
    </a>
    <a href="https://thermostat-tt.herokuapp.com/" target="_blank">
      <p>Thermostat</p>
    </a>
    <a href="https://www.youtube.com/watch?v=1plKdfnUvbA&list=PLc4BYny7PXeQ-DVKwBOrsC3MfCJfJG87O&index=3" target="_blank">
      <p>Makers Graduation Video<p>
    </a>
  </div>
</body>
