<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nutrition</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/grid_12.css">
    <script src="js/jquery-1.7.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/cufon-yui.js"></script>
    <script src="js/Asap_400.font.js"></script>
    <script src="js/Coolvetica_400.font.js"></script>
	<script src="js/Kozuka_M_500.font.js"></script>
    <script src="js/cufon-replace.js"></script>
    <script src="js/FF-cash.js"></script>
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="..stylesheets/ie.css">
	<![endif]-->
</head>
<body>
<div class="main">
	<div class="bg-img"></div>
<!--==============================header=================================-->
    <header>
      <h1><a href="/">Lorena <strong>Personal Trainer</strong></a></h1>
        <nav>
        	<div class="social-icons">
            	<a href="https://www.facebook.com/lorena.tacal" target="_blank" class="icon-2"></a>
            	<a href="https://twitter.com/lorena_tacal"  target="_blank" class="icon-1"></a>
            </div>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/workouts">Workouts</a></li>
                <!-- <li><a href="timetable.html">Timetable</a></li> -->
                <li class="current"><a href="/nutrition">Nutrition</a></li>
                <!-- <li><a href="gallery.html">Gallery</a></li> -->
                <li><a href="/contacts">Contacts</a></li>
            </ul>
        </nav>
    </header>

<!--==============================content================================-->
    <section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. April 02, 2012!</div>
        <div class="container_12">
          <div class="grid_12">
          	<div class="box-shadow">
            	<div class="wrap block-2">
                    <div class="col-1">
                    	<h2 class="p3"><span class="color-1">I do care</span> about your health</h2>
                        <p class="p2"><strong>It is crucial for you to understand the relationship between daily energy requirements and body weight</strong></p>
                        <p class="p5">Understanding the link between the amount of calories that you need, and also the quantity you actually consume is a key part of an effective weight management programme. If you eat more than your body needs then the excess intake is often hold on as fat, resulting in weight gain. If you eat less than you need your body will use its energy stores and weight loss can occur.</p>
                        <div class="wrap box-1">
                            <img src="images/n2Nutrition.jpg" alt="" class="img-border img-indent">
                            <div class="extra-wrap">
                                <p class="p2"><strong>Energy Balance and Weight Changes</strong></p>
                                <p>For effective weight management you need to know how much energy is required on a daily basis, and how much energy is being taken in through food and drinks</p>
                                <!-- <a href="#" class="button top-6">Search</a> -->
                            </div>
                        </div>
                        <h2 class="p3 top-2"><span class="color-1">I can</span> help you</h2>
                        <p class="p2"><strong>The most successful weight loss strategies are when calories restriction is combined with increased levels of exercises.</strong></p>
                        <p class="p5">Creating a balanced nutrition plan that will cover your body daily nutrients needs, calculated based on your Basal Metabolic rate, will help you not only to lose weight but it will also help you to have a happy healthy lifestyle.</p>
                    </div>
                    <div class="col-2">
                        <h2 class="p6"><span class="color-1">About</span> nutrition</h2>
                        <img src="images/page4-img2.jpg" alt="" class="img-border">
                        <p class="p2 top-6"><strong>Don’t eat less, eat right!</strong></p>
                        <p class="p4">You are what you eat, read the following information and choose to be alive:</p>
                        <ul class="list-2">
                        	<li><a href="#">The heathiest carbs to eat</a></li>
                            <li><a href="#">Good proteins vs Bad proteins</a></li>
                            <li><a href="#">How to choose healthy fats</a></li>
                            <li><a href="#">What’s super about superfoods</a></li>
                            <li><a href="#">Importance of hydration and sleep</a></li>
                            <li><a href="#">How to correctly combine nutrients</a></li>
                        </ul>
                        <a href="#" class="button top-5">Read more</a>
                    </div>
                </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
    </section>
<!--==============================footer=================================-->
    <footer>
        <p>© Lorena Personal Trainer  | Website By <a href="http://www.tudortacal.com" target="_blank">Tudor Tacal</a></p>
    </footer>
</div>
<script>
	Cufon.now();
</script>
</body>
</html>
